<% @current_tab = 'home' %>

<div class="alert alert-info">
  <i class="icon icon-off"></i>
  Connected to database '<%= Oculus.connection_options[:database] %>' on <%= Oculus.connection_options[:host] %>:<%= Oculus.connection_options[:port] %>.
</div>

<form id="query-form" method="POST" action="/queries" class="well form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="author">Author:</label>
      <div class="controls">
        <input type="text" name="author" placeholder="Who are you?" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">Description:</label>
      <div class="controls">
        <input type="text" name="description" placeholder="What is this query about?" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="query">Query:</label>
      <div class="controls">
        <div id="editor-container">
          <textarea name="query" id="query-field"></textarea>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn" name="submit" value="Run" />
      </div>
    </div>
  </fieldset>
</form>

<div id="loading">
  <div class="alert">
    <span id="spinner"></span>
    Executing query...
  </div>
</div>

<div id="error" class="alert alert-error">
  <strong>Problem!</strong>
  <span class="message"></span>
</div>

<div id="results">
  <div class="alert alert-success">
    <strong>Success!</strong>
    Query returned <span class="row-count"></span> row<span class="row-count-plural">s</span>.
  </div>

  <table class="table">
    <thead>
      <tr class="headers"></tr>
    </thead>
    <tbody class="results"></tbody>
  </table>
</div>

<script type="text/javascript">
  var opts = {
    lines: 11,
    length: 4,
    width: 2,
    radius: 4,
    color: '#C09853',
    speed: 1.2,
    trail: 60
  };
  var target = document.getElementById('spinner');
  var spinner = new Spinner(opts).spin(target);

  var form = $('#query-form');
  $('#results, #error, #loading').hide();
  var editor = new QueryEditor(form, {
    onQueryStart: function() {
      $('#results, #error').hide();
      $('#loading').show();
    },
    onQuerySuccess: function(query) {
      $('#loading, #error').hide();
      $('#results')
        .show()
        .find('.row-count')
          .text(query.results.length - 1)
        .end()
        .find('.row-count-plural')
          .toggle(query.results.length !== 2);

      var headerRow = $('#results .headers').empty();
      var container = $('#results .results').empty();

      for (var i = 0; i < query.results[0].length; i++) {
        headerRow.append('<th>' + query.results[0][i] + '</th>');
      }

      for (var i = 1; i < query.results.length; i++) {
        var result = query.results[i];
        var row = $('<tr></tr>');

        for (var j = 0; j < result.length; j++) {
          row.append('<td>' + result[j] + '</td>');
        }

        container.append(row);
      }
    },
    onQueryError: function(error) {
      $('#loading, #results').hide();
      $('#error')
        .show()
        .find('.message')
          .text(error);
    }
  });
</script>
