<!DOCTYPE html>
<html>
  <head>
    <title>Oculus</title>
    <script src="/jquery.min.js" type="text/javascript"></script>
    <script src="/application.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Oculus</h1>
      <small>No analysis unseen.</small>
    </header>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
