<!DOCTYPE html>
<html>
  <head>
    <title>Oculus</title>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/codemirror.min.js" type="text/javascript"></script>
    <script src="/js/spin.min.js" type="text/javascript"></script>
    <script src="/js/application.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/codemirror.css" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Oculus</a>
          <ul class="nav">
            <li<% if @current_tab == 'home' %> class="active"<% end %>>
              <a href="/">Home</a>
            </li>
            <li<% if @current_tab == 'starred' %> class="active"<% end %>>
              <a href="/starred">Starred</a>
            </li>
            <li<% if @current_tab == 'history' %> class="active"<% end %>>
              <a href="/history">History</a>
            </li>
          </ul>
          <ul class="pull-right nav">
            <li class="navbar-text">
              <%= Oculus.connection_string %>
            </li>
            <% if Oculus.use_authentication %>
              <li class="navbar-text auth-spacer">
                &mdash;
              </li>
              <li class="navbar-text user-info">
                <%= @current_user.name %>
              </li>
              <li>
                <a href="/logout">Log Out</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div id="content" class="container">
      <%= yield %>
    </div>
  </body>
</html>
