<h1 id="query-description"><%= @query.description %></h1>
<h2 id="query-author"><%= @query.author %></h2>

<table id="results-table">
  <thead>
    <tr>
      <% @headers.each do |label| %>
        <th><%= label %></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="results">
    <% @results.each do |result| %>
      <tr>
        <% result.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
